brotlicffi @ file:///C:/b/abs_f4lixvzmxt/croot/brotlicffi_1736183286104/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1759786076112/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1760098052251/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
filelock @ file:///C:/b/abs_758187j281/croot/filelock_1744281404850/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp310-cp310-win_amd64.whl#sha256=e824ec3b279f4c5207736c83ac2f2dc79b489e08501a4ea9e3fc178c45db289b
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
requests @ file:///C:/b/abs_f53smfvswb/croot/requests_1756709376206/work
sympy @ file:///C:/b/abs_f1v7nwa6vp/croot/sympy_1756713483242/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
urllib3 @ file:///C:/b/abs_393g1ayee_/croot/urllib3_1750775481226/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
